{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        ["styled-components", {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }],
        ["root-import", [{
          "rootPathPrefix": "~",
          "rootPathSuffix": "components"
          }, {
          "rootPathPrefix": "@",
          "rootPathSuffix": "containers"
          }, {
          "rootPathPrefix": "%",
          "rootPathSuffix": "lib"
          }
        ]],
        "inline-react-svg",
        [
          "inline-import",{
            "extensions": [".css"]
          }
        ],
        "inline-dotenv"
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        ["styled-components", {
          "ssr": true,
          "displayName": false,
          "preprocess": false
        }],
        ["root-import", [{
          "rootPathPrefix": "~",
          "rootPathSuffix": "components"
          }, {
          "rootPathPrefix": "@",
          "rootPathSuffix": "containers"
          }, {
          "rootPathPrefix": "%",
          "rootPathSuffix": "lib"
          }
        ]],
        "inline-react-svg",
        [
          "inline-import",{
            "extensions": [".css"]
          }
        ],
        "transform-inline-environment-variables"
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        ["styled-components", {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }],
        ["root-import", [{
          "rootPathPrefix": "~",
          "rootPathSuffix": "components"
          }, {
          "rootPathPrefix": "@",
          "rootPathSuffix": "containers"
          }, {
          "rootPathPrefix": "%",
          "rootPathSuffix": "lib"
          }
        ]],
        "inline-react-svg",
        [
          "inline-import",{
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
